
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
packages/**/.next
packages/**/node_modules
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

*.lock

# roadhog-api-doc ignore
packages/admin/src/utils/request-temp.js
_roadhog-api-doc

# misc
yarn-error.log

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache

build

